/*  your css code here. If applicable */
#container{
	background-color:#f5f5f5;
	padding:20px;
}
#testimonalContainer{
	background-color:white;
	border:1px solid black ;
	padding:5px;
	
	margin:10px
}
#another{
	background-color:white;
	border:1px solid black ;
	padding:5px;
	
}
#writer{
	text-align:right;
	font-style:italic;
	padding:10px
}
#writer1{
	text-align:right;
	
	padding:10px;
	font-style:italic
}
